/* ================================================================
  ||   Eliminamos márgenes y ponemos fondo de página negro        ||
   ================================================================ */
html,
body {
    margin: 0;
    background: none;
    image-rendering: pixelated;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("images/cursor.png"), auto;
}

body {
    height: 100vh;
    background: url("images/il_fullxfull.3509413948_lwoo-Photoroom.png") no-repeat;
    background-size: 100% auto;
}

/* ================================================================
  ||                  CONTENEDORES GENERALES                      ||
   ================================================================ */
.contenedor {
    overflow: hidden;
}

.container {
    width: 1300px;
    height: 100%;
    position: relative;
    /* Para mantener las posiciones relativas dentro del container */
    overflow: hidden;
    /* Evitar que los elementos se salgan del contenedor */

}

/* ================================================================
  ||                      BARRA DE VIDAS                          ||
   ================================================================ */
#vidas {
    background: url("images/barras\ de\ estado_lleno.png")no-repeat;
    width: 14%;
    height: 50px;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: 26px;
}

/* ================================================================
  ||         HOMERO SIMPSON: ANIMACIÓN DEL PERSONAJE              ||
   ================================================================ */
#personaje {
    /* Tamaño fijo del área del sprite */
    width: 53.5px;
    /* Ancho exacto de cada fotograma */
    height: 100px;
    /* Altura del sprite según la imagen */

    margin: auto;
    background: url("images/homero\ caminando3.png") no-repeat;
    position: relative;
    bottom: -39%;
}

/* ================================================================
  ||                     ANIMACIONES CLAVE                        ||
   ================================================================ */
@keyframes caminarSelma {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -48.5px 0;
    }
}

@keyframes walk {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -280px 0;
    }

    /* 5 fotogramas * 59px = -294px */
}

/* ================================================================
  ||          FONDO DEL JUEGO: CIELO, NUBES, VEREDA               ||
   ================================================================ */
#sky {
    background: url("images/Mesa\ de\ trabajo\ cielo.png") repeat-x;
    background-size: 1527px 100%;
    /* Cubrir el área completa */
    animation: movebg 30s linear infinite;
    position: relative;
    /* Asegura que esté detrás de todo */
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -20;
    /* Detrás de todo */
    overflow: hidden;
    /* Para evitar que algo sobresalga */
}

/* Nueva capa para las nubes más opacas */
#clouds {
    background: url("images/Mesa\ de\ trabajo\ nubes.png") repeat-x;
    background-size: 1527px 100%;
    animation: moveClouds 25s linear infinite;
    /* Velocidad más rápida */
    position: absolute;
    /* Posicionarlo sobre el fondo de cielo */
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -19;
    /* Un índice justo encima del cielo pero debajo de otros elementos */
    pointer-events: none;
    /* No permitir interacciones de ratón */
}

/* ================================================================
  ||           MOVIMIENTO DEL FONDO Y ELEMENTOS                   ||
   ================================================================ */
@keyframes moveClouds {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1527px;
    }
}

/* ================================================================
  ||                   FONDO LEJANO Y VEREDA                      ||
   ================================================================ */
   #vereda {
    background: url("images/Recurso vereda.png") repeat-x;
    background-size: 1527px 100%;
    animation: movebgVereda 10s linear infinite;
    position: relative;
    top: -1018px;
    height: 288px;
    z-index: 4;
}
#ciudad {
    background: url("images/city.png") repeat-x;
    background-size: 1332px 80%;
    animation: movebgCiudad 10s linear infinite;
    position: relative;
    top: -915px;
    height: 257px;
    z-index: 3;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5)) /* Ajustar la sombra para mayor impacto */
            brightness(0.8) /* Disminuir el brillo para dar un efecto más dramático */
            contrast(1.3); /* Aumentar el contraste para que los edificios se destaquen más */
    transform: scale(1.1); /* Aumentar la escala para simular cercanía */
    opacity: 0.9; /* Añadir opacidad para un efecto más suave */
}

#fondoLejano {
    background: url("images/canvas_image\ \(6\).png") repeat-x;
    background-size: 1289px auto;
    animation: movebgLejano 27s linear infinite;
    position: relative;
    top: -495px;
    height: 289.5px;
    z-index: -10;
    opacity: 70%;
}

/* Asegurarse de que el fondo cubra el container */
#sky,
#fondoLejano,
#montania,
#vereda {
    width: 100%;
    /* Se ajusta al ancho del container */
}


#montania {
    background: url("images/PineTools.com_Recurso\ mon.png") repeat-x;
    background-size: auto 100%;
    animation: movebgMountain 15s linear infinite;
    position: relative;
    top: -826px;
    /* background-color: #258b69; */
    height: 288px;
    z-index: 1;
}

/* Animación del fondo lejano, más lento para dar profundidad */
/* Animación del fondo lejano */
@keyframes movebgLejano {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1289px;
        /* Ajusta según el nuevo tamaño (1289 * 1.5 = 1933.5px) */
    }
}

@keyframes movebgMountain {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -1592px;
        /* Ajusta según el tamaño de la imagen */
    }
}

@keyframes movebgVereda {
    0% {
        background-position: 0px;
        /* Ajustar también para el mar */
    }

    100% {
        background-position: -1527px;
    }
}
@keyframes movebgCiudad {
    0% {
        background-position: 0px;
        /* Ajustar también para el mar */
    }

    100% {
        background-position: -1332px;
    }
}

/* Animación para mover cielo*/
@keyframes movebg {
    0% {
        background-position: 1527px
    }

    100% {
        background-position: 0
    }
}

/* ================================================================
  ||               CORRER, SALTAR Y CAER                          ||
   ================================================================ */
.correr {
    animation: correr 0.6s steps(5) infinite;
}

#personaje.saltar {
    background: url("images/salto23.png") no-repeat;
    background-size: cover 100%;
    width: 65px !important;
    height: 95px !important;
    animation: saltarMovimiento 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards, saltarFotogramas 600ms steps(4) infinite;
}


@keyframes saltarMovimiento {
    from {
        bottom: -39%;
        /* Posición inicial */
    }

    to {
        bottom: 0%;
        /* Altura del salto */
    }
}

@keyframes saltarFotogramas {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -275px 0;
        /* 6 fotogramas, 53.5px cada uno */
    }
}

.caer {
    background: url("images/homero\ caminando3.png") !important;
    animation: caer 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes gbwalk {
    0% {
        background-position: 0
    }

    100% {
        background-position: -624px
    }
}

@keyframes saltar {
    from {
        bottom: -39%;
        /* Posición inicial */
    }

    to {
        bottom: 0%;
        /* Altura del salto */
    }
}

@keyframes caer {
    from {
        bottom: 0%;
        /* Desde el punto más alto */
    }

    to {
        bottom: -39%;
        /* De vuelta al suelo */
    }
}

@keyframes correr {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -280px 0;
    }

    /* 5 fotogramas * 59px = -294px */
}

/* ================================================================
  ||                        ENEMIGO                               ||
   ================================================================ */
.enemigo {
    position: absolute;
    width: 48.4px;
    height: 76px;
    background: url(images/selma_enemigo1.png) no-repeat;
    z-index: 30;
    top: 470px!important;
    border-radius: 5%;
    animation: enemigo 10s linear infinite, caminarSelma 0.5s steps(5) infinite;
}

@keyframes caminarSelma {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -242px 0;
        /* tamaño de la imagen completa de spritesheets */
    }
}

@keyframes enemigo {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

/* ================================================================
  ||          CARTEL DE "PERDISTE AL FINAL DEL JUEGO"             ||
   ================================================================ */
#cartel-perdiste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo oscuro transparente */
    color: #fff;
    /* Texto blanco */
    z-index: 100;
    /* Para que quede encima de todo */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

#cartel-perdiste.visible {
    opacity: 1;
    visibility: visible;
}

#cartel-perdiste h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#cartel-perdiste p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#btn-reiniciar {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #ffcc00;
    border: none;
    cursor: url("images/pointer.png"), auto;
    border-radius: 5px;
}

#btn-reiniciar:hover {
    background-color: #ffa500;
}

/* ================================================================
  ||          ELEMENTOS PAUSADOS, PARPADEO Y LA DONA              ||
   ================================================================ */
.pausado * {
    animation-play-state: paused !important;
}


.parpadeo {
    animation: parpadeo 0.2s infinite;
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dona {
    width: 30px;
    height: 30px;
    background-image: url('images/dona.png');
    background-size: contain;
    position: absolute;
    animation: rotate 4s linear infinite;
    z-index: 10;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/* ================================================================
  ||              ABUELO SIMPSON: ENEMIGO                         ||
   ================================================================ */
.abuelo {
    position: absolute;
    width: 45px;
    /* Ajusta según el tamaño del sprite */
    height: 76px;
    /* Ajusta según el tamaño del sprite */
    background: url("images/abuelo_enemigo.png") no-repeat;
    z-index: 30;
    top: 470px!important;
    border-radius: 5%;
    animation: abueloAnimacion 10s linear infinite, caminarAbuelo 0.5s steps(4) infinite;
}

.pajaro {
    position: absolute;
    width: 35px;
    /* Ajusta según el tamaño del sprite */
    height: 76px;
    /* Ajusta según el tamaño del sprite */
    background: url("images/pajaro.png") no-repeat;
    z-index: 30;
    top: 410px!important;
    border-radius: 5%;
    animation: pajaroAnimacion 10s linear infinite, volarPajaro 0.5s steps(6) infinite;
}
.muerte {
    position: absolute;
    width: 120px;
    /* Ajusta según el tamaño del sprite */
    height: 76px;
    /* Ajusta según el tamaño del sprite */
    background: url("images/muerte1.png") no-repeat;
    z-index: 30;
    top: 400px;
    border-radius: 5%;
    animation: muerteAnimacion 10s linear infinite, volarMuerte 0.5s steps(2) infinite;
}
@keyframes volarMuerte {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -249px 0;
        /* Tamaño de la imagen completa */
    }
}

@keyframes muerteAnimacion {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}
@keyframes caminarAbuelo {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -180px 0;
        /* Tamaño de la imagen completa */
    }
}

@keyframes abueloAnimacion {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}
@keyframes volarPajaro {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -292px 0;
        /* Tamaño de la imagen completa */
    }
}

@keyframes pajaroAnimacion {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}

/* CRONOMETRO */
/* Estilos para el cronómetro */
#cronometro {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

#imagen-cronometro {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#tiempo-restante,
#segundos {
    color: black;
}

/* TACO */
.taco {
    width: 30px;
    /* Ancho del taco */
    height: 30px;
    /* Alto del taco */
    background-image: url("images/taco.png");
    /* Ruta de la imagen del taco */
    background-size: cover;
    /* Ajustar la imagen para que cubra el contenedor */
    position: absolute;
    /* Posición absoluta para poder mover el taco */
    z-index: 35;
    animation: movimientoTaco 1s infinite;
}

@keyframes movimientoTaco {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    /* El taco sube 20px */
    100% {
        transform: translateY(0);
    }
}

/* CERVEZA DUFF */
/* Estilo para la cerveza Duff */
.cerveza-duff {
    position: absolute;
    width: 30px;
    height: 50px;
    background-image: url('images/cerveza_duff.png');
    background-size: cover;
    z-index: 35;
    animation: entradaSacudida 1.5s ease-in-out infinite;
}

@keyframes entradaSacudida {
    0% {
        transform: rotate(0deg);
        /* Inicia desde el lado derecho */
    }

    15% {
        transform: rotate(-10deg);
        /* Se inclina a la izquierda */
    }

    30% {
        transform: rotate(10deg);
        /* Se inclina a la derecha */
    }

    45% {
        transform: rotate(-5deg);
        /* Vuelve a la izquierda levemente */
    }

    60% {
        transform: rotate(5deg);
        /* Vuelve a la derecha levemente */
    }

    100% {
        transform: rotate(0deg);
        /* Se coloca en su posición final */
    }
}

/* Efecto de inmunidad para Homero */
#personaje.inmunidad {
    filter: brightness(1.3) drop-shadow(0 0 5px rgba(255, 215, 0, 0.7));
}

#puntos-valor {
    position: absolute;
    top: 20px;
    right: 50%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: black;
}

/* ================================================================
  ||     Fondo de la pantalla de inicio                           ||
   ================================================================ */
.fondo-animado {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    /* El fondo animado debe estar en la capa más baja */

}

#pantalla-inicio {
    position: relative;
    top: 40px;
    left: 0;
    width: 1300px;
    height: 85%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* Asegurar que la pantalla de inicio esté visible */
    cursor: url("images/cursor.png"), auto;
}

/* Asegura que los botones sean clicables */
#btn-jugar,
#btn-como-jugar {
    position: relative;
    z-index: 2;
    /* Más alto que el fondo animado */
}


.cielo2 {
    position: absolute;
    top: 0%;
    width: 120%;
    background-size: 1527px 100% !important;
    background: url('images/bg.jpg') repeat-x;
    /* Asegúrate de tener un fondo de nubes */
    animation: moverCielo 15s linear infinite;
    background-size: cover;
    z-index: 1;
}


.nubes2 {
    position: absolute;
    top: 0%;
    width: 120%;
    height: 150%;
    background-size: 1536px 100% !important;
    animation: moverCielo 15s linear infinite;
    opacity: 1;
    background: url('images/Mesa\ de\ trabajo\ nubes.png') repeat-x;
    /* Asegúrate de tener un fondo de nubes */
    background-size: cover;
    z-index: 1;
}

.nubes3 {
    position: absolute;
    top: 3%;
    width: 120%;
    height: 150%;
    background-size: 1527px 100% !important;
    animation: moverCielo2 20s linear infinite;
    opacity: 1;
    background: url('images/Mesa\ de\ trabajo\ nubes.png') repeat-x;
    /* Asegúrate de tener un fondo de nubes */
    background-size: cover;
    z-index: 1;
}


#texto {
    position: absolute;
    top: 40%;
    /* Ajusta la posición según necesites */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* Asegúrate de que esté encima de todo */
    text-align: center;
    /* Centrar el texto */
}

#text-the,
#text-simpsons {
    display: block;
    /* Mostrar como bloque para que cada uno esté en su línea */
    opacity: 0;
    /* Comenzar invisible */
    animation: aparecer 3s forwards;
    /* Aparecer con la animación */
}

#text-the {
    width: 560px;
    animation-delay: 1s;
    /* Retraso para que aparezca primero "The" */
}

#text-simpsons {
    animation-delay: 4s;
    /* Retraso para que aparezca después "Simpsons" */
}

@keyframes moverCielo2 {
    0% {
        background-position: 1527px
    }

    100% {
        background-position: 0
    }
}

@keyframes moverCielo {
    0% {
        background-position: 0
    }

    100% {
        background-position: 1536px
    }
}

@keyframes moverNubes {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

@keyframes parpadeo {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.1);
    }
}

/* Botones */
.contenedor-botones {
    top: 200px;
    position: relative;
    z-index: 15;
    /* Elevar el z-index para que los botones estén siempre visibles */
}

.boton {
    background-color: #ff4081;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    color: white;
    font-size: 24px;
    /* cursor: url("images/cursor.png"); */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    outline: none;
}

.boton:hover {
    background-color: #f50057;
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    /* cursor: url("images/pointer.png"); */
}

/* Ocultar el juego al inicio */
.container {
    display: none;
    height: 85%;
    top: 25px;
}

/* Mostrar el juego cuando se oculta la pantalla de inicio */
#pantalla-inicio.oculto+.container {
    display: block;
}

button {
    cursor: url("images/pointer.png"), auto;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2C3E50;
    color: white;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    z-index: 100;
    width: 70%;
    border-radius: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    height: 70%;
    overflow: hidden;
}

.modal-content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    /* Permite el desplazamiento vertical */
    padding-right: 10px;
    /* Agrega algo de espacio para que el contenido no se corte */
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: url("images/pointer.png"), auto;
}

.modal h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.modal h3 {
    font-size: 22px;
    margin: 15px 0;
}

.modal p {
    font-size: 18px;
}

.info-section {
    margin-bottom: 20px;
}

.bonus-list,
.enemy-list {
    display: flex;
    justify-content: space-between;
}

.bonus-item,
.enemy-item {
    text-align: center;
    width: 30%;
}

.bonus-item img,
.enemy-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.enemy-item {
    border-radius: 50%;
}

.control-list {
    list-style: none;
    padding-left: 0;
}

.control-list li {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Para hacer que el modal sea visible */
.modal.visible {
    display: block;
}

/* Estilo para la bala */
.bala {
    position: absolute;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 10px;
    /* Ajusta el tamaño según sea necesario */
    background: url('images/bala.png') no-repeat center center;
    background-size: contain;
    z-index: 10;
    overflow: hidden;
}

/* DISPARO */
#personaje.disparando {
    background-image: url('images/disparo3.png');
    background-size: cover 100%;
    width: 62.92px !important;
    height: 95px !important;
    animation: disparo 0.5s steps(12) forwards;
    /* 0.8 segundos para recorrer los 12 fotogramas */
}

@keyframes disparo {
    100% {
        background-position: -755px 0;
        /* Mover 12 fotogramas de 100px cada uno */
    }
}
#personaje.puno {
    background: url("images/puñetazo.png");
    width: 102px; /* Ajusta el tamaño según tu sprite */
    height: 96px; /* Ajusta el tamaño según tu sprite */
    animation: animacionPuno 0.3s steps(4) 1; /* 4 fotogramas, 0.4s de duración */
}

@keyframes animacionPuno {
    from {
        background-position: 0;
    }
    to {
        background-position: -408px; /* 4 fotogramas * 128px */
    }
}
#contador-disparo {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 24px;
    color: red;
}

.oculto {
    display: none;
}

#personaje.agachado {
    background: url("images/homero_agachado.png");
    animation: none;
    background-size: 80%;
    background-repeat: no-repeat;
    top: 150px;
}

@font-face {
    font-family: 'Calculator';
    src: url('font/calculator.ttf') format('truetype');
}

#puntos-valor {
    font-family: 'Calculator', sans-serif;
    font-size: xx-large;
}
#puntos-val {
    font-family: 'Calculator', sans-serif;
    font-size: xx-large;
    position: absolute;
    top: 18px;
    right: 54%;
    display: flex;
    align-items: center;
    color: black;
    margin: 0;
}
#cronometro {
    font-family: 'Calculator', sans-serif;
    font-size: xx-large;
}
/* Estilos para la barra de navegación */
.navbar {
    background-color: #FFD90F; /* Amarillo típico de Los Simpsons */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
    font-family: 'Comic Sans MS', sans-serif; /* Tipografía más caricaturesca */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    border-bottom: 3px solid #ff4081;
    margin-bottom: 2% !important;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    text-decoration: none;
    color: #FFFFFF; /* Blanco para resaltar sobre el amarillo */
    font-size: 22px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

/* Efecto al pasar el cursor */
.navbar-menu a:hover {
    background-color: #ff4081; /* Azul típico de la serie */
    color: #FFD90F; /* Cambia el texto a amarillo */
}

/* Estilo para la opción activa */
.navbar-menu a.active {
    background-color: #ff4081; /* Resaltar la opción activa */
    color: #FFD90F;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para hacerla destacar */
}

/* Efecto animado al pasar el cursor */
.navbar-menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #FFFFFF; /* Blanco */
    transition: width 0.3s, left 0.3s;
    border-radius: 5px;
}

/* Al pasar el cursor, la línea aparece */
.navbar-menu a:hover::after {
    width: 100%;
    left: 0;
}